In [1]:
import pandas as pd
import numpy as np
from os.path import join

In [7]:
RAW_DATA_PATH = r"C:\Users\shami\Desktop\Master_Thesis_Data\Raw_Data"
PREPARED_DATA_PATH = r"C:\Users\shami\Desktop\Master_Thesis_Data\Prepared_Datasets"
TEST_DATA_PATH = r"C:\Users\shami\Desktop\Master_Thesis_Data\Test_Datasets"
TRAIN_DATA_PATH = r"C:\Users\shami\Desktop\Master_Thesis_Data\Train_Datasets"

## Credit Card Fraud Data

In [8]:
cc_fraud = pd.read_csv(join(RAW_DATA_PATH,"creditcard.csv"))

In [80]:
def get_stats(df:pd.DataFrame, target_col:str):
    d = pd.DataFrame({"Counts": df[target_col].value_counts(),
                      "Percents": (df[target_col].value_counts()/len(df))*100
                    }) 
    d.loc['Total']= d.sum(numeric_only=True, axis=0)
    return d.reset_index()

In [10]:
get_stats(cc_fraud,"Class")

   Class    Counts  Percents
0      0  284315.0  0.998273
1      1     492.0  0.001727
2  Total  284807.0  1.000000

In [11]:
def resample_N(percent, min_class_count):
    return int(((min_class_count*100)/percent)-min_class_count)

In [12]:
cc_fraud_4 = pd.concat(
          [cc_fraud[cc_fraud.Class==0].sample(n=resample_N(4,492), random_state=42),
           cc_fraud[cc_fraud.Class==1]
          ]
)

In [13]:
cc_fraud_3 = pd.concat(
          [cc_fraud[cc_fraud.Class==0].sample(n=resample_N(3,492), random_state=42),
           cc_fraud[cc_fraud.Class==1]
          ]
)

In [14]:
cc_fraud_2 = pd.concat(
          [cc_fraud[cc_fraud.Class==0].sample(n=resample_N(2,492), random_state=42),
           cc_fraud[cc_fraud.Class==1]
          ]
)

In [15]:
cc_fraud_1 = pd.concat(
          [cc_fraud[cc_fraud.Class==0].sample(n=resample_N(1,492), random_state=42),
           cc_fraud[cc_fraud.Class==1]
          ]
)

In [16]:
cc_fraud_05 = pd.concat(
          [cc_fraud[cc_fraud.Class==0].sample(n=resample_N(0.5,492), random_state=42),
           cc_fraud[cc_fraud.Class==1]
          ]
)

In [17]:
cc_fraud_05.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [32]:
cc_fraud_4.to_excel(join(PREPARED_DATA_PATH,"cc_fraud_4.xlsx"), index=False)
cc_fraud_3.to_excel(join(PREPARED_DATA_PATH,"cc_fraud_3.xlsx"), index=False)
cc_fraud_2.to_excel(join(PREPARED_DATA_PATH,"cc_fraud_2.xlsx"), index=False)
cc_fraud_1.to_excel(join(PREPARED_DATA_PATH,"cc_fraud_1.xlsx"), index=False)
cc_fraud_05.to_excel(join(PREPARED_DATA_PATH,"cc_fraud_05.xlsx"), index=False)

In [39]:
# get_stats(cc_fraud_05,"Class")
# get_stats(cc_fraud_1,"Class")
# get_stats(cc_fraud_2,"Class")
# get_stats(cc_fraud_3,"Class")
get_stats(cc_fraud_4,"Class")

   Class   Counts  Percents
0      0  11808.0      0.96
1      1    492.0      0.04
2  Total  12300.0      1.00

In [42]:
cc_fraud.shape

(284807, 31)

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
cc_fraud_2_train, cc_fraud_2_test = train_test_split(cc_fraud_2, random_state=42,  
                                                    test_size=0.1, shuffle=True)

In [53]:
cc_fraud_2_train.Class.value_counts()/len(cc_fraud_2_train)

Class
0    0.97972
1    0.02028
Name: count, dtype: float64

In [54]:
cc_fraud_2_test.Class.value_counts()/len(cc_fraud_2_train)

Class
0    0.109169
1    0.001942
Name: count, dtype: float64

In [55]:
cc_fraud_2_test.to_excel(join(TEST_DATA_PATH,"cc_fraud_2_test.xlsx"), index=False)
cc_fraud_2_train.to_excel(join(TRAIN_DATA_PATH,"cc_fraud_2_train.xlsx"), index=False)

## Crime Data

In [4]:
from imblearn.datasets import fetch_datasets

# Fetch dataset from imbalanced-learn library 
 # as a dictionary of numpy array
us_crime = fetch_datasets()['us_crime']

In [5]:
# Convert the dictionary to a pandas dataframe
crime_df = pd.concat([pd.DataFrame(us_crime['data'], columns = [f'data_{i}' for i in range(us_crime.data.shape[1])]),
           pd.DataFrame(us_crime['target'], columns = ['target'])], axis = 1)

In [6]:
crime_df

,data_0,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,...,data_91,data_92,data_93,data_94,data_95,data_96,data_97,data_98,data_99,target
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32,-1
1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,0.35,0.27,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,1
2,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,0.28,0.32,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,-1
3,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,0.34,0.21,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,-1
4,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,0.23,0.36,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,0.01,0.40,0.10,0.87,0.12,0.16,0.43,0.51,0.35,0.30,...,0.22,0.28,0.34,0.48,0.39,0.01,0.28,0.05,0.00,-1
1990,0.05,0.96,0.46,0.28,0.83,0.32,0.69,0.86,0.73,0.14,...,0.53,0.25,0.17,0.10,0.00,0.02,0.37,0.20,0.00,-1
1991,0.16,0.37,0.25,0.69,0.04,0.25,0.35,0.50,0.31,0.54,...,0.25,0.68,0.61,0.79,0.76,0.08,0.32,0.18,0.91,-1
1992,0.08,0.51,0.06,0.87,0.22,0.10,0.58,0.74,0.63,0.41,...,0.45,0.64,0.54,0.59,0.52,0.03,0.38,0.33,0.22,-1
1993,0.20,0.78,0.14,0.46,0.24,0.77,0.50,0.62,0.40,0.17,...,0.68,0.50,0.34,0.35,0.68,0.11,0.30,0.05,1.00,-1

## Loan Dataset -- pending

In [40]:
ld = pd.read_csv(join(RAW_DATA_PATH,"rejected_2007_to_2018Q4.csv"))

In [41]:
ld

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,< 1 year,0.0
27648737,10000.0,2016-12-31,moving,NaN,1.48%,207xx,MD,5 years,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,< 1 year,0.0
27648739,25000.0,2016-12-31,debt_consolidation,NaN,17.71%,880xx,NM,< 1 year,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,< 1 year,0.0

In [44]:
ld2 = pd.read_csv(join(RAW_DATA_PATH,"accepted_2007_to_2018Q4.csv"))

C:\Users\shami\AppData\Local\Temp\ipykernel_31364\2333895395.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  ld2 = pd.read_csv(join(RAW_DATA_PATH,"accepted_2007_to_2018Q4.csv"))

In [45]:
ld2

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260697,88224441,NaN,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,...,NaN,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0
2260698,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Adult

In [3]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [18]:
df = pd.concat([X,y],axis=1)

In [69]:
df.to_excel(join(RAW_DATA_PATH,"Adult.xlsx"), index=False)

In [21]:
df.isna().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [35]:
df_2 = df.dropna().copy()
df_2["income_class"] = np.where(df_2.income.str.contains(">50"),1,0)
df_2.drop(columns="income", inplace=True)

In [36]:
get_stats(df_2,"income_class")

  income_class   Counts  Percents
0            0  36080.0  0.757649
1            1  11541.0  0.242351
2        Total  47621.0  1.000000

In [49]:
pd.concat([df_2.nunique(),df_2.dtypes],axis=1)

                    0       1
age                74   int64
workclass           9  object
fnlwgt          27946   int64
education          16  object
education-num      16   int64
marital-status      7  object
occupation         15  object
relationship        6  object
race                5  object
sex                 2  object
capital-gain      122   int64
capital-loss       98   int64
hours-per-week     96   int64
native-country     42  object
income_class        2   int32

In [50]:
# a lot of uniques in native-country, education can be found from education-num
df_2.drop(columns=["education","native-country"],inplace=True)

In [51]:
pd.concat([df_2.nunique(),df_2.dtypes],axis=1)

                    0       1
age                74   int64
workclass           9  object
fnlwgt          27946   int64
education-num      16   int64
marital-status      7  object
occupation         15  object
relationship        6  object
race                5  object
sex                 2  object
capital-gain      122   int64
capital-loss       98   int64
hours-per-week     96   int64
income_class        2   int32

In [55]:
df_ohc = pd.get_dummies(df_2, columns = ["workclass","marital-status","occupation","relationship","race","sex"],
                        dtype=int)

In [58]:
df_ohc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47621 entries, 0 to 48841
Data columns (total 51 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   47621 non-null  int64
 1   fnlwgt                                47621 non-null  int64
 2   education-num                         47621 non-null  int64
 3   capital-gain                          47621 non-null  int64
 4   capital-loss                          47621 non-null  int64
 5   hours-per-week                        47621 non-null  int64
 6   income_class                          47621 non-null  int32
 7   workclass_?                           47621 non-null  int32
 8   workclass_Federal-gov                 47621 non-null  int32
 9   workclass_Local-gov                   47621 non-null  int32
 10  workclass_Never-worked                47621 non-null  int32
 11  workclass_Private                     47621 non-null  int32
 12  workclass_Self-emp-inc                47621 non-null  int32
 13  workclass_Self-emp-not-inc            47621 non-null  int32
 14  workclass_State-gov                   47621 non-null  int32
 15  workclass_Without-pay                 47621 non-null  int32
 16  marital-status_Divorced               47621 non-null  int32
 17  marital-status_Married-AF-spouse      47621 non-null  int32
 18  marital-status_Married-civ-spouse     47621 non-null  int32
 19  marital-status_Married-spouse-absent  47621 non-null  int32
 20  marital-status_Never-married          47621 non-null  int32
 21  marital-status_Separated              47621 non-null  int32
 22  marital-status_Widowed                47621 non-null  int32
 23  occupation_?                          47621 non-null  int32
 24  occupation_Adm-clerical               47621 non-null  int32
 25  occupation_Armed-Forces               47621 non-null  int32
 26  occupation_Craft-repair               47621 non-null  int32
 27  occupation_Exec-managerial            47621 non-null  int32
 28  occupation_Farming-fishing            47621 non-null  int32
 29  occupation_Handlers-cleaners          47621 non-null  int32
 30  occupation_Machine-op-inspct          47621 non-null  int32
 31  occupation_Other-service              47621 non-null  int32
 32  occupation_Priv-house-serv            47621 non-null  int32
 33  occupation_Prof-specialty             47621 non-null  int32
 34  occupation_Protective-serv            47621 non-null  int32
 35  occupation_Sales                      47621 non-null  int32
 36  occupation_Tech-support               47621 non-null  int32
 37  occupation_Transport-moving           47621 non-null  int32
 38  relationship_Husband                  47621 non-null  int32
 39  relationship_Not-in-family            47621 non-null  int32
 40  relationship_Other-relative           47621 non-null  int32
 41  relationship_Own-child                47621 non-null  int32
 42  relationship_Unmarried                47621 non-null  int32
 43  relationship_Wife                     47621 non-null  int32
 44  race_Amer-Indian-Eskimo               47621 non-null  int32
 45  race_Asian-Pac-Islander               47621 non-null  int32
 46  race_Black                            47621 non-null  int32
 47  race_Other                            47621 non-null  int32
 48  race_White                            47621 non-null  int32
 49  sex_Female                            47621 non-null  int32
 50  sex_Male                              47621 non-null  int32
dtypes: int32(45), int64(6)
memory usage: 10.7 MB

In [59]:
df_ohc.drop(columns=["workclass_?","marital-status_Married-spouse-absent",
                     "occupation_?","relationship_Not-in-family","race_Other","sex_Female"], inplace=True)

In [60]:
df_ohc

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income_class,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,relationship_Husband,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_White,sex_Male
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,50,83311,13,0,0,13,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,53,234721,7,0,0,40,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,33,245211,13,0,0,40,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
48837,39,215419,13,0,0,36,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48839,38,374983,13,0,0,50,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
48840,44,83891,13,5455,0,40,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
48841,35,182148,13,0,0,60,1,0,0,0,...,1,0,0,0,0,0,0,0,1,1

In [62]:
df_ohc.shape

(47621, 45)

In [64]:
df_ohc = df_ohc[[col for col in df_ohc.columns if col != 'income_class'] + ['income_class']]

In [65]:
df_ohc

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_White,sex_Male,income_class
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,33,245211,13,0,0,40,0,0,0,1,...,0,1,0,0,0,0,0,1,1,0
48837,39,215419,13,0,0,36,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
48839,38,374983,13,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
48840,44,83891,13,5455,0,40,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
48841,35,182148,13,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1

In [66]:
df_ohc.to_excel(join(PREPARED_DATA_PATH,"Adult.xlsx"), index=False)

In [67]:
get_stats(df_ohc, "income_class")

  income_class   Counts  Percents
0            0  36080.0  0.757649
1            1  11541.0  0.242351
2        Total  47621.0  1.000000

# Covertype

In [68]:
# fetch dataset 
covertype = fetch_ucirepo(id=31) 
  
# data (as pandas dataframes) 
X = covertype.data.features 
y = covertype.data.targets 
  
# metadata 
print(covertype.metadata) 
  
# variable information 
print(covertype.variables)

{'uci_id': 31, 'name': 'Covertype', 'repository_url': 'https://archive.ics.uci.edu/dataset/31/covertype', 'data_url': 'https://archive.ics.uci.edu/static/public/31/data.csv', 'abstract': 'Classification of pixels into 7 forest cover types based on attributes such as elevation, aspect, slope, hillshade, soil-type, and more.', 'area': 'Biology', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 581012, 'num_features': 54, 'feature_types': ['Categorical', 'Integer'], 'demographics': [], 'target_col': ['Cover_Type'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1998, 'last_updated': 'Sat Mar 16 2024', 'dataset_doi': '10.24432/C50K5N', 'creators': ['Jock Blackard'], 'intro_paper': None, 'additional_info': {'summary': 'Predicting forest cover type from cartographic variables only (no remotely sensed data).  The actual forest cover type for a given observation (30 x 30 meter cell) was determined from US Forest Service (USFS) Region 2 Resource Information System (RIS) data.  Independent variables were derived from data originally obtained from US Geological Survey (USGS) and USFS data.  Data is in raw form (not scaled) and contains binary (0 or 1) columns of data for qualitative independent variables (wilderness areas and soil types).\r\n\r\nThis study area includes four wilderness areas located in the Roosevelt National Forest of northern Colorado.  These areas represent forests with minimal human-caused disturbances, so that existing forest cover types are more a result of ecological processes rather than forest management practices.\r\n\r\nSome background information for these four wilderness areas: Neota (area 2) probably has the highest mean elevational value of the 4 wilderness areas. Rawah (area 1) and Comanche Peak (area 3) would have a lower mean elevational value, while Cache la Poudre (area 4) would have the lowest mean elevational value. \r\n\r\nAs for primary major tree species in these areas, Neota would have spruce/fir (type 1), while Rawah and Comanche Peak would probably have lodgepole pine (type 2) as their primary species, followed by spruce/fir and aspen (type 5). Cache la Poudre would tend to have Ponderosa pine (type 3), Douglas-fir (type 6), and cottonwood/willow (type 4).  \r\n\r\nThe Rawah and Comanche Peak areas would tend to be more typical of the overall dataset than either the Neota or Cache la Poudre, due to their assortment of tree species and range of predictive variable values (elevation, etc.)  Cache la Poudre would probably  be more unique than the others, due to its relatively low  elevation range and species composition. ', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Given is the attribute name, attribute type, the measurement unit and a brief description.  The forest cover type is the classification  problem.  The order of this listing corresponds to the order of numerals along the rows of the database.\r\n\r\nName / Data Type / Measurement / Description\r\n\r\nElevation / quantitative /meters / Elevation in meters\r\nAspect / quantitative / azimuth / Aspect in degrees azimuth\r\nSlope / quantitative / degrees / Slope in degrees\r\nHorizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features\r\nVertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features\r\nHorizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway\r\nHillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice\r\nHillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer soltice\r\nHillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice\r\nHorizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points\r\nWilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation\r\nSoil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation\r\nCover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation', 'citation': None}}
                                  name     role     type demographic  \
0                            Elevation  Feature  Integer        None
1                               Aspect  Feature  Integer        None
2                                Slope  Feature  Integer        None
3     Horizontal_Distance_To_Hydrology  Feature  Integer        None
4       Vertical_Distance_To_Hydrology  Feature  Integer        None
5      Horizontal_Distance_To_Roadways  Feature  Integer        None
6                        Hillshade_9am  Feature  Integer        None
7                       Hillshade_Noon  Feature  Integer        None
8                        Hillshade_3pm  Feature  Integer        None
9   Horizontal_Distance_To_Fire_Points  Feature  Integer        None
10                    Wilderness_Area1  Feature  Integer        None
11                          Soil_Type1  Feature  Integer        None
12                          Soil_Type2  Feature  Integer        None
13                          Soil_Type3  Feature  Integer        None
14                          Soil_Type4  Feature  Integer        None
15                          Soil_Type5  Feature  Integer        None
16                          Soil_Type6  Feature  Integer        None
17                          Soil_Type7  Feature  Integer        None
18                          Soil_Type8  Feature  Integer        None
19                          Soil_Type9  Feature  Integer        None
20                         Soil_Type10  Feature  Integer        None
21                         Soil_Type11  Feature  Integer        None
22                         Soil_Type12  Feature  Integer        None
23                         Soil_Type13  Feature  Integer        None
24                         Soil_Type14  Feature  Integer        None
25                         Soil_Type15  Feature  Integer        None
26                         Soil_Type16  Feature  Integer        None
27                         Soil_Type17  Feature  Integer        None
28                         Soil_Type18  Feature  Integer        None
29                         Soil_Type19  Feature  Integer        None
30                         Soil_Type20  Feature  Integer        None
31                         Soil_Type21  Feature  Integer        None
32                         Soil_Type22  Feature  Integer        None
33                         Soil_Type23  Feature  Integer        None
34                         Soil_Type24  Feature  Integer        None
35                         Soil_Type25  Feature  Integer        None
36                         Soil_Type26  Feature  Integer        None
37                         Soil_Type27  Feature  Integer        None
38                         Soil_Type28  Feature  Integer        None
39                         Soil_Type29  Feature  Integer        None
40                         Soil_Type30  Feature  Integer        None
41                         Soil_Type31  Feature  Integer        None
42                         Soil_Type32  Feature  Integer        None
43                         Soil_Type33  Feature  Integer        None
44                         Soil_Type34  Feature  Integer        None
45                         Soil_Type35  Feature  Integer        None
46                         Soil_Type36  Feature  Integer        None
47                         Soil_Type37  Feature  Integer        None
48                         Soil_Type38  Feature  Integer        None
49                         Soil_Type39  Feature  Integer        None
50                         Soil_Type40  Feature  Integer        None
51                          Cover_Type   Target  Integer        None
52                    Wilderness_Area2  Feature  Integer        None
53                    Wilderness_Area3  Feature  Integer        None
54                    Wilderness_Area4  Feature  Integer        None

   description units missing_values
0         None  None             no
1         None  None             no
2         None  None             no
3         None  None             no
4         None  None             no
5         None  None             no
6         None  None             no
7         None  None             no
8         None  None             no
9         None  None             no
10        None  None             no
11        None  None             no
12        None  None             no
13        None  None             no
14        None  None             no
15        None  None             no
16        None  None             no
17        None  None             no
18        None  None             no
19        None  None             no
20        None  None             no
21        None  None             no
22        None  None             no
23        None  None             no
24        None  None             no
25        None  None             no
26        None  None             no
27        None  None             no
28        None  None             no
29        None  None             no
30        None  None             no
31        None  None             no
32        None  None             no
33        None  None             no
34        None  None             no
35        None  None             no
36        None  None             no
37        None  None             no
38        None  None             no
39        None  None             no
40        None  None             no
41        None  None             no
42        None  None             no
43        None  None             no
44        None  None             no
45        None  None             no
46        None  None             no
47        None  None             no
48        None  None             no
49        None  None             no
50        None  None             no
51        None  None             no
52        None  None             no
53        None  None             no
54        None  None             no

In [72]:
covtype_raw = pd.concat([X,y],axis=1)

In [73]:
covtype_raw

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,1,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,1,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,1,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,1,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,1,0,3

In [74]:
# covtype_raw.to_excel(join(RAW_DATA_PATH,"Covertype.xlsx"), index=False)

In [75]:
covtype_raw.isna().sum()

Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Cover_Type                            0
dtype: int64

In [76]:
covtype_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581012 entries, 0 to 581011
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Elevation                           581012 non-null  int64
 1   Aspect                              581012 non-null  int64
 2   Slope                               581012 non-null  int64
 3   Horizontal_Distance_To_Hydrology    581012 non-null  int64
 4   Vertical_Distance_To_Hydrology      581012 non-null  int64
 5   Horizontal_Distance_To_Roadways     581012 non-null  int64
 6   Hillshade_9am                       581012 non-null  int64
 7   Hillshade_Noon                      581012 non-null  int64
 8   Hillshade_3pm                       581012 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  581012 non-null  int64
 10  Wilderness_Area1                    581012 non-null  int64
 11  Soil_Type1                          581012 non-null  int64
 12  Soil_Type2                          581012 non-null  int64
 13  Soil_Type3                          581012 non-null  int64
 14  Soil_Type4                          581012 non-null  int64
 15  Soil_Type5                          581012 non-null  int64
 16  Soil_Type6                          581012 non-null  int64
 17  Soil_Type7                          581012 non-null  int64
 18  Soil_Type8                          581012 non-null  int64
 19  Soil_Type9                          581012 non-null  int64
 20  Soil_Type10                         581012 non-null  int64
 21  Soil_Type11                         581012 non-null  int64
 22  Soil_Type12                         581012 non-null  int64
 23  Soil_Type13                         581012 non-null  int64
 24  Soil_Type14                         581012 non-null  int64
 25  Soil_Type15                         581012 non-null  int64
 26  Soil_Type16                         581012 non-null  int64
 27  Soil_Type17                         581012 non-null  int64
 28  Soil_Type18                         581012 non-null  int64
 29  Soil_Type19                         581012 non-null  int64
 30  Soil_Type20                         581012 non-null  int64
 31  Soil_Type21                         581012 non-null  int64
 32  Soil_Type22                         581012 non-null  int64
 33  Soil_Type23                         581012 non-null  int64
 34  Soil_Type24                         581012 non-null  int64
 35  Soil_Type25                         581012 non-null  int64
 36  Soil_Type26                         581012 non-null  int64
 37  Soil_Type27                         581012 non-null  int64
 38  Soil_Type28                         581012 non-null  int64
 39  Soil_Type29                         581012 non-null  int64
 40  Soil_Type30                         581012 non-null  int64
 41  Soil_Type31                         581012 non-null  int64
 42  Soil_Type32                         581012 non-null  int64
 43  Soil_Type33                         581012 non-null  int64
 44  Soil_Type34                         581012 non-null  int64
 45  Soil_Type35                         581012 non-null  int64
 46  Soil_Type36                         581012 non-null  int64
 47  Soil_Type37                         581012 non-null  int64
 48  Soil_Type38                         581012 non-null  int64
 49  Soil_Type39                         581012 non-null  int64
 50  Soil_Type40                         581012 non-null  int64
 51  Wilderness_Area2                    581012 non-null  int64
 52  Wilderness_Area3                    581012 non-null  int64
 53  Wilderness_Area4                    581012 non-null  int64
 54  Cover_Type                          581012 non-null  int64
dtypes: int64(55)
memory usage: 243.8 MB

In [157]:
get_stats(covtype_raw,"Cover_Type")

  Cover_Type    Counts    Percents
0          2  283301.0   48.759922
1          1  211840.0   36.460521
2          3   35754.0    6.153746
3          7   20510.0    3.530048
4          6   17367.0    2.989095
5          5    9493.0    1.633873
6          4    2747.0    0.472796
7      Total  581012.0  100.000000

In [163]:
covtype_raw["target"] = np.where(covtype_raw.Cover_Type==7,1,0)
covtype_df = covtype_raw.sample(n=50000, random_state=42).drop(columns="Cover_Type")

In [164]:
get_stats(covtype_df,"target")

  target   Counts  Percents
0      0  48263.0    96.526
1      1   1737.0     3.474
2  Total  50000.0   100.000

In [165]:
covtype_df

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,target
250728,3351,206,27,726,124,3813,192,252,180,2271,...,0,0,0,1,0,0,0,0,0,0
246788,2732,129,7,212,1,1082,231,236,137,912,...,0,0,0,0,0,0,0,1,0,0
407714,2572,24,9,201,25,957,216,222,142,2191,...,0,0,0,0,0,0,0,1,0,0
25713,2824,69,13,417,39,3223,233,214,110,6478,...,0,0,0,0,0,0,0,0,0,0
21820,2529,84,5,120,9,1092,227,231,139,4983,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461544,3245,157,7,309,68,2742,228,241,146,997,...,0,0,0,0,0,0,0,1,0,0
44129,2988,350,9,426,69,5042,203,224,160,5771,...,0,0,0,0,0,0,0,0,0,0
552186,3340,226,21,234,8,1824,187,254,198,3849,...,0,0,0,0,0,0,1,0,0,0
547272,3186,315,4,120,6,4510,209,236,166,966,...,0,0,0,0,0,0,0,1,0,0
16815,2688,117,12,60,6,2021,240,229,117,6907,...,0,0,0,0,0,0,0,0,0,0

In [166]:
covtype_df.to_excel(join(PREPARED_DATA_PATH,"CoverType.xlsx"), index=False)

# Wine dataset

In [82]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
wine_quality = fetch_ucirepo(id=186) 
  
# data (as pandas dataframes) 
X = wine_quality.data.features 
y = wine_quality.data.targets 
  
# metadata 
print(wine_quality.metadata) 
  
# variable information 
print(wine_quality.variables)

{'uci_id': 186, 'name': 'Wine Quality', 'repository_url': 'https://archive.ics.uci.edu/dataset/186/wine+quality', 'data_url': 'https://archive.ics.uci.edu/static/public/186/data.csv', 'abstract': 'Two datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).', 'area': 'Business', 'tasks': ['Classification', 'Regression'], 'characteristics': ['Multivariate'], 'num_instances': 4898, 'num_features': 11, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['quality'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2009, 'last_updated': 'Wed Nov 15 2023', 'dataset_doi': '10.24432/C56S3T', 'creators': ['Paulo Cortez', 'A. Cerdeira', 'F. Almeida', 'T. Matos', 'J. Reis'], 'intro_paper': {'title': 'Modeling wine preferences by data mining from physicochemical properties', 'authors': 'P. Cortez, A. Cerdeira, Fernando Almeida, Telmo Matos, J. Reis', 'published_in': 'Decision Support Systems', 'year': 2009, 'url': 'https://www.semanticscholar.org/paper/Modeling-wine-preferences-by-data-mining-from-Cortez-Cerdeira/bf15a0ccc14ac1deb5cea570c870389c16be019c', 'doi': None}, 'additional_info': {'summary': 'The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine. For more details, consult: http://www.vinhoverde.pt/en/ or the reference [Cortez et al., 2009].  Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).\n\nThese datasets can be viewed as classification or regression tasks.  The classes are ordered and not balanced (e.g. there are many more normal wines than excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent or poor wines. Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods.\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'For more information, read [Cortez et al., 2009].\r\nInput variables (based on physicochemical tests):\r\n   1 - fixed acidity\r\n   2 - volatile acidity\r\n   3 - citric acid\r\n   4 - residual sugar\r\n   5 - chlorides\r\n   6 - free sulfur dioxide\r\n   7 - total sulfur dioxide\r\n   8 - density\r\n   9 - pH\r\n   10 - sulphates\r\n   11 - alcohol\r\nOutput variable (based on sensory data): \r\n   12 - quality (score between 0 and 10)', 'citation': None}}
                    name     role         type demographic  \
0          fixed_acidity  Feature   Continuous        None
1       volatile_acidity  Feature   Continuous        None
2            citric_acid  Feature   Continuous        None
3         residual_sugar  Feature   Continuous        None
4              chlorides  Feature   Continuous        None
5    free_sulfur_dioxide  Feature   Continuous        None
6   total_sulfur_dioxide  Feature   Continuous        None
7                density  Feature   Continuous        None
8                     pH  Feature   Continuous        None
9              sulphates  Feature   Continuous        None
10               alcohol  Feature   Continuous        None
11               quality   Target      Integer        None
12                 color    Other  Categorical        None

               description units missing_values
0                     None  None             no
1                     None  None             no
2                     None  None             no
3                     None  None             no
4                     None  None             no
5                     None  None             no
6                     None  None             no
7                     None  None             no
8                     None  None             no
9                     None  None             no
10                    None  None             no
11  score between 0 and 10  None             no
12            red or white  None             no

In [83]:
wine_raw = pd.concat([X,y],axis=1)

In [85]:
wine_raw.to_excel(join(RAW_DATA_PATH,"Wine_Quality.xlsx"), index=False)

In [84]:
wine_raw

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [86]:
wine_raw.isna().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [87]:
wine_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         6497 non-null   float64
 1   volatile_acidity      6497 non-null   float64
 2   citric_acid           6497 non-null   float64
 3   residual_sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free_sulfur_dioxide   6497 non-null   float64
 6   total_sulfur_dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 609.2 KB

In [88]:
get_stats(wine_raw, "quality")

  quality  Counts    Percents
0       6  2836.0   43.650916
1       5  2138.0   32.907496
2       7  1079.0   16.607665
3       4   216.0    3.324611
4       8   193.0    2.970602
5       3    30.0    0.461752
6       9     5.0    0.076959
7   Total  6497.0  100.000000

In [144]:
wine_df = wine_raw.drop(columns="quality").copy()
wine_df["quality"] = np.where(wine_raw.quality>=7,1,0)

In [145]:
get_stats(wine_df, "quality")

  quality  Counts    Percents
0       0  5220.0   80.344775
1       1  1277.0   19.655225
2   Total  6497.0  100.000000

In [161]:
wine_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,0

In [160]:
wine_df.to_excel(join(PREPARED_DATA_PATH,"Wine.xlsx"), index=False)

# Nursery Dataset

In [89]:
# fetch dataset 
nursery = fetch_ucirepo(id=76) 
  
# data (as pandas dataframes) 
X = nursery.data.features 
y = nursery.data.targets 
  
# metadata 
print(nursery.metadata) 
  
# variable information 
print(nursery.variables)

{'uci_id': 76, 'name': 'Nursery', 'repository_url': 'https://archive.ics.uci.edu/dataset/76/nursery', 'data_url': 'https://archive.ics.uci.edu/static/public/76/data.csv', 'abstract': ' Nursery Database was derived from a hierarchical decision model originally developed to rank applications for nursery schools.', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 12960, 'num_features': 8, 'feature_types': ['Categorical'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1989, 'last_updated': 'Sun Jan 14 2024', 'dataset_doi': '10.24432/C5P88W', 'creators': ['Vladislav Rajkovic'], 'intro_paper': {'title': 'An application for admission in public school systems', 'authors': 'M. Olave, V. Rajkovic, M. Bohanec', 'published_in': 'Expert Systems in Public Administration', 'year': 1989, 'url': 'https://www.academia.edu/16670755/An_application_for_admission_in_public_school_systems', 'doi': None}, 'additional_info': {'summary': "Nursery Database was derived from a hierarchical decision model originally developed to rank applications for nursery schools. It was used during several years in 1980's when there was excessive enrollment to these schools in Ljubljana, Slovenia, and the rejected applications frequently needed an objective explanation. The final decision depended on three subproblems: occupation of parents and child's nursery, family structure and financial standing, and social and health picture of the family. The model was developed within expert system shell for decision making DEX (M. Bohanec, V. Rajkovic: Expert system for decision making. Sistemica 1(1), pp. 145-157, 1990.).\r\n\r\nThe hierarchical model ranks nursery-school applications according to the following concept structure:\r\n\r\n NURSERY            Evaluation of applications for nursery schools\r\n . EMPLOY           Employment of parents and child's nursery\r\n . . parents        Parents' occupation\r\n . . has_nurs       Child's nursery\r\n . STRUCT_FINAN     Family structure and financial standings\r\n . . STRUCTURE      Family structure\r\n . . . form         Form of the family\r\n . . . children     Number of children\r\n . . housing        Housing conditions\r\n . . finance        Financial standing of the family\r\n . SOC_HEALTH       Social and health picture of the family\r\n . . social         Social conditions\r\n . . health         Health conditions\r\n\r\nInput attributes are printed in lowercase. Besides the target concept (NURSERY) the model includes four intermediate concepts: EMPLOY, STRUCT_FINAN, STRUCTURE, SOC_HEALTH. Every concept is in the original model related to its lower level descendants by a set of examples (for these examples sets see http://www-ai.ijs.si/BlazZupan/nursery.html).\r\n\r\nThe Nursery Database contains examples with the structural information removed, i.e., directly relates NURSERY to the eight input attributes: parents, has_nurs, form, children, housing, finance, social, health.\r\n\r\nBecause of known underlying concept structure, this database may be particularly useful for testing constructive induction and structure discovery methods.", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '   parents:        usual, pretentious, great_pret\r\n   has_nurs:       proper, less_proper, improper, critical, very_crit\r\n   form:           complete, completed, incomplete, foster\r\n   children:       1, 2, 3, more\r\n   housing:        convenient, less_conv, critical\r\n   finance:        convenient, inconv\r\n   social:         non-prob, slightly_prob, problematic\r\n   health:         recommended, priority, not_recom', 'citation': None}}
       name     role         type demographic  \
0   parents  Feature  Categorical        None
1  has_nurs  Feature  Categorical        None
2      form  Feature  Categorical        None
3  children  Feature  Categorical        None
4   housing  Feature  Categorical        None
5   finance  Feature  Categorical        None
6    social  Feature  Categorical        None
7    health  Feature  Categorical        None
8     class   Target  Categorical        None

                                         description units missing_values
0                     usual, pretentious, great_pret  None             no
1  proper, less_proper, improper, critical, very_...  None             no
2            complete, completed, incomplete, foster  None             no
3                                      1, 2, 3, more  None             no
4                    convenient, less_conv, critical  None             no
5                                 convenient, inconv  None             no
6               non-prob, slightly_prob, problematic  None             no
7                   recommended, priority, not_recom  None             no
8                   recommended, priority, not_recom  None             no

In [90]:
nursery_raw = pd.concat([X,y],axis=1)

In [96]:
nursery_raw.to_excel(join(RAW_DATA_PATH,"Nursery.xlsx"), index=False)

In [91]:
nursery_raw.isna().sum()

parents     0
has_nurs    0
form        0
children    0
housing     0
finance     0
social      0
health      0
class       0
dtype: int64

In [92]:
nursery_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12960 entries, 0 to 12959
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   parents   12960 non-null  object
 1   has_nurs  12960 non-null  object
 2   form      12960 non-null  object
 3   children  12960 non-null  object
 4   housing   12960 non-null  object
 5   finance   12960 non-null  object
 6   social    12960 non-null  object
 7   health    12960 non-null  object
 8   class     12960 non-null  object
dtypes: object(9)
memory usage: 911.4+ KB

In [93]:
get_stats(nursery_raw, "class")

        class   Counts    Percents
0   not_recom   4320.0   33.333333
1    priority   4266.0   32.916667
2  spec_prior   4044.0   31.203704
3  very_recom    328.0    2.530864
4   recommend      2.0    0.015432
5       Total  12960.0  100.000000

In [95]:
nursery_raw["class"].unique()

array(['recommend', 'priority', 'not_recom', 'very_recom', 'spec_prior'],
      dtype=object)

In [131]:
trgt = np.where(nursery_raw["class"].isin(['recommend','very_recom']),1,0)
nursery_df = nursery_raw.drop(columns="class")
nursery_df["class"] = trgt

In [132]:
for col in ['parents', 'has_nurs', 'form', 'children', 'housing', 'finance', 'social', 'health','class']:
    print(nursery_df[col].unique())

['usual' 'pretentious' 'great_pret']
['proper' 'less_proper' 'improper' 'critical' 'very_crit']
['complete' 'completed' 'incomplete' 'foster']
['1' '2' '3' 'more']
['convenient' 'less_conv' 'critical']
['convenient' 'inconv']
['nonprob' 'slightly_prob' 'problematic']
['recommended' 'priority' 'not_recom']
[1 0]

In [133]:
nursery_df["form"] = nursery_df["form"].replace({'complete':'completed'})
nursery_df["finance"] = nursery_df["finance"].replace({'convenient':1, 'inconv':0})

In [134]:
for col in ['parents', 'has_nurs', 'form', 'children', 'housing', 'finance', 'social', 'health','class']:
    print(nursery_df[col].unique())

['usual' 'pretentious' 'great_pret']
['proper' 'less_proper' 'improper' 'critical' 'very_crit']
['completed' 'incomplete' 'foster']
['1' '2' '3' 'more']
['convenient' 'less_conv' 'critical']
[1 0]
['nonprob' 'slightly_prob' 'problematic']
['recommended' 'priority' 'not_recom']
[1 0]

In [135]:
nursery_ohc = pd.get_dummies(nursery_df, 
                             columns = ['parents', 'has_nurs', 'form', 'children', 'housing', 'social', 'health'],
                             dtype=int)

In [136]:
nursery_ohc

,finance,class,parents_great_pret,parents_pretentious,parents_usual,has_nurs_critical,has_nurs_improper,has_nurs_less_proper,has_nurs_proper,has_nurs_very_crit,...,children_more,housing_convenient,housing_critical,housing_less_conv,social_nonprob,social_problematic,social_slightly_prob,health_not_recom,health_priority,health_recommended
0,1,1,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
1,1,0,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0
2,1,0,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
3,1,1,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,1
4,1,0,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,0,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,0,1,0,1,0
12956,0,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,0,1,1,0,0
12957,0,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,0,0,1
12958,0,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,0,1,0
12959,0,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,0

In [137]:
nursery_ohc = nursery_ohc[[col for col in nursery_ohc.columns if col != 'class'] + ['class']]

In [141]:
nursery_ohc

,finance,parents_great_pret,parents_pretentious,parents_usual,has_nurs_critical,has_nurs_improper,has_nurs_less_proper,has_nurs_proper,has_nurs_very_crit,form_completed,...,housing_convenient,housing_critical,housing_less_conv,social_nonprob,social_problematic,social_slightly_prob,health_not_recom,health_priority,health_recommended,class
0,1,0,0,1,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,1,1
1,1,0,0,1,0,0,0,1,0,1,...,1,0,0,1,0,0,0,1,0,0
2,1,0,0,1,0,0,0,1,0,1,...,1,0,0,1,0,0,1,0,0,0
3,1,0,0,1,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,1
4,1,0,0,1,0,0,0,1,0,1,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0
12956,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,1,0,0,0
12957,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0
12958,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
12959,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0

In [140]:
nursery_ohc.to_excel(join(PREPARED_DATA_PATH,"Nursery.xlsx"), index=False)

In [142]:
get_stats(nursery_ohc, "class")

   class   Counts    Percents
0      0  12630.0   97.453704
1      1    330.0    2.546296
2  Total  12960.0  100.000000